version: "3"
services:
  react-app:
    build: ./client
    stdin_open: true
    ports:
      - "3000:3000"
    networks:
      - mern-app
    volumes:
      - ./client/:/usr/src/app
      - /usr/src/app/node_modules
  api-server:
    build: ./server
    ports:
      - "5000:5000"
    networks:
      - mern-app
      - backend
    volumes:
      - ./server/:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mongo
  mongo:
    image: mongo:4.0.23-xenial
    ports:
      - "27017:27017"
    networks:
      - backend
    volumes:
      - mongo-data:/data/db
networks:
  mern-app:
    driver: bridge
  backend:
    driver: bridge
volumes:
  mongo-data:
    driver: local
